@import "tailwindcss";

@theme {
  --font-inter: "Inter", var(--default-font-family);
  --font-blackout: "Bebas Neue", var(--default-font-family);
  --background-image-dark-gradient: linear-gradient(to bottom,
      #000000,
      #040923ff);
}

.font-blackout {
  font-family: "Bebas Neue", var(--default-font-family);
  letter-spacing: 0.05em;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

a[href],
button:not(:disabled),
input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="reset"]:not(:disabled),
select:not(:disabled),
summary,
label[for],
[role="button"] {
  cursor: pointer;
}

button:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}