@import "tailwindcss";

@theme {
  --font-inter: "Inter", var(--default-font-family);
  --background-image-dark-gradient: linear-gradient(
    to bottom,
    #000000,
    #040923ff
  );
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
